<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.11.0" targetFramework="net40-client" />
  <package id="MemoryInterop.ILPatcher" version="2.0.0" targetFramework="net40-client" developmentDependency="true" />
  <package id="NAudio" version="1.8.4" targetFramework="net40-client" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net40-client" />
</packages>