<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.13.8" targetFramework="net48" />
  <package id="MSTest.TestAdapter" version="2.1.2" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="2.1.2" targetFramework="net48" />
  <package id="TeximpNet" version="1.4.3" targetFramework="net48" />
</packages>